[submodule "firmware/libs/pico-sdk"]
	path = firmware/libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "firmware/libs/pico-extras"]
	path = firmware/libs/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "firmware/libs/pico-oled"]
	path = firmware/libs/pico-oled
	url = git@github.com:arminveres/pico-oled
